.navBar-Button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #798eff;
    color: #ffffff;
    border: 1px solid #8279ff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navBar-Button:hover {
    background-color: #2980b9;
    border-color: #2980b9;
}

body {
    background-image: url("assets/images/background01.png");
}